<div class="container">
  <div class="wrapper">
    <ul>
      <div class="card">
        <ul class='list-unstyled'>
          <li>Titre : <%= @play.title %></li>
          <li>Date : Du <%= @play.start_date %> au <%= @play.end_date %></li>
          <li>Résumé : <%= @play.synopsys %></li>
          <li>Liste des acteurs : </li>
        </ul>
        <% @play.actors.each do |actor| %>
          <ul class='list-unstyled list-inline'>
            <li><%= actor.first_name %></li>
            <li><%= actor.last_name %></li>
          </ul>
        <% end %>
      </div>
    </ul>
  </div>
</div>
