<div class="container">
  <div class="wrapper">
    <%= simple_form_for @actor, :url => admin_actor_path do |f| %>
      <% f.error_notification %>
      <%= f.input :first_name, label: "Prénom de l'acteur", placeholder: @actor.first_name %>
      <%= f.input :last_name, label: "Nom de l'acteur", placeholder: @actor.last_name %>
      <%= f.input :birthday, label: 'Date de naissance', placeholder: @actor.birthday %>
      <%= f.input :gender, label: 'Sexe', placeholder: @actor.gender %>
      <%= f.input :play_title, label: 'Titre du spectacle dans lequel joue l''acteur', collection: @array %>
      <%= f.button :submit, 'Enregistrer', :class => "btn btn-primary", :style => "margin: 50px" %>
    <% end %>
  </div>
</div>
