<div class="container">
  <div class="row col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="form-design background">
      <div class="text-center" id="form_title">
        <h2>Liste des pièces</h2>
      </div>
        <div class="form-inputs">
          <ul>
            <% @plays.each do |play| %>
              <div class="card">
                <ul class='list-unstyled list-inline'>
                  <li><%= play.title %></li>
                  <li><%= link_to 'show', play_path(play) %></li>
                  <li><%= link_to 'edit', edit_admin_play_path(play) %></li>
                  <li><%= link_to 'delete', { action: :destroy, id: play.id }, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div>
            <% end %>
          </ul>
        </div>
        <div class="form-actions text-center">
          <%= link_to 'Ajouter un spectacle', new_admin_play_path, class: "btn btn-primary", style: "margin: 50px" %>
        </div>
    </div>
  </div>
</div>

